<v-layout>
  <div class="panel panel-primary">

    <div class="panel-heading">
      <h1 class="panel-title">
        Login
      </h1>
    </div>

    <div class="panel-body">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-envelope"></i>
            </div>
            <input
              v-model="user.email"
              type="email"
              placeholder="Email"
              class="form-control"
            >
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </div>
            <input
              v-model="user.password"
              type="password"
              placeholder="Password"
              class="form-control"
            >
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</v-layout>
