<v-layout>
  <v-panel contextual-style="primary">
    <h1 class="panel-title" slot="heading">
      Login
    </h1>
    <div slot="body">
      <form @submit.prevent="register(user)">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user fa-fw"></i>
            </div>
            <input
              v-model="user.firstName"
              type="text"
              placeholder="First name"
              class="form-control"
            >
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user fa-fw"></i>
            </div>
            <input
              v-model="user.lastName"
              type="text"
              placeholder="Last name"
              class="form-control"
            >
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-envelope fa-fw"></i>
            </div>
            <input
              v-model="user.email"
              type="email"
              placeholder="Email"
              class="form-control"
            >
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-lock fa-fw"></i>
            </div>
            <input
              v-model="user.password"
              type="password"
              placeholder="Password"
              class="form-control"
            >
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-lock fa-fw"></i>
            </div>
            <input
              v-model="user.passwordConfirm"
              type="password"
              placeholder="Confirm password"
              class="form-control"
            >
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">
            Register
          </button>
        </div>
      </form>
    </div>
    <div slot="footer">
      Already got an account?
      <router-link :to="{ name: 'login.index' }">Login</router-link>
    </div>
  </v-panel>
</v-layout>
